= render "banner"
%h1.red Contact
%p
    Thank you for your interest in academic stratEDGEy. Our offices are located in the Eastbluff Professional Building at 2503 Eastbluff Drive (Suite 202) Newport Beach, CA 92660. For general inquires, prices, and scheduling, please e-mail Bree at
    %a{href: 'mailto:stratedgey@gmail.com'}
        stratedgey@gmail.com
= form_tag send_contact_path, 'data-abide' => '' do |builder|
    %fieldset#contact-information
        %legend
            Information
        .row.name-field
            .medium-3.columns
                %label.left.inline{for: 'full_name'}
                    Full Name
                    %small
                        required
            .medium-9.columns
                = text_field_tag :full_name, nil, required: '', pattern: 'alpha_numeric'
                %small.error
                    Name is required and must be alpha numeric
        .row.email-field
            .medium-3.columns
                %label.left.inline{for: 'email'}
                    Email
                    %small
                        required
            .medium-9.columns
                = text_field_tag :email, nil, required: '', pattern: 'email'
                %small.error
                    A valid email address is required
        .row
            .medium-3.columns
                %label.left.inline{for: 'grade'}
                    Current Grade Level
            .medium-9.columns
                = text_field_tag :grade
        .row.subject-field
            .medium-3.columns
                %label.left.inline{for: 'subject'}
                    Subject Line
                    %small
                        required
            .medium-9.columns
                = text_field_tag :subject, nil, required: '', pattern: 'alpha_numeric'
                %small.error
                    The subject line cannot be blank, and it must be alpha numeric
        .row.message-field
            .medium-3.columns
                %label.left.inline{for: 'message'}
                    Message
                    %small
                        required
            .medium-9.columns
                = text_area_tag :message, nil, required: '', pattern: 'alpha_numeric'
                %small.error
                    The message cannot be blank, and it must be alpha numeric
        .row
            .medium-9.medium-offset-3.columns
                %button{type: 'submit', name: 'commit'}
                    Send
