%h1.red Contact
%p
    Thank you for your interest in ACADEMIC STRATEDGEY. For general inquires, prices, and scheduling, please complete the following form or e-mail us directly at 
    %a{href: 'mailto:info@academicstratedgey.com'}
        info@academicstratedgey.com
= form_tag controller: 'home', action: 'send_contact', method: 'post' do |builder|
    %fieldset#contact-information
        %legend
            Information
        .row
            .large-3.columns
                %label.left.inline{for: 'full_name'}
                    You Full Name*
            .large-9.columns
                = text_field_tag :full_name
        .row
            .large-3.columns
                %label.left.inline{for: 'email'}
                    You Email*
            .large-9.columns
                = text_field_tag :email
        .row
            .large-3.columns
                %label.left.inline{for: 'grade'}
                    Your Current Grade level
            .large-9.columns
                = text_field_tag :grade
        .row
            .large-3.columns
                %label.left.inline{for: 'subject'}
                    Subject Line*
            .large-9.columns
                = text_field_tag :subject
        .row
            .large-9.large-offset-3.columns
                = text_area_tag :message, nil, placeholder: 'Message*'
        .row
            .large-9.large-offset-3.columns
                %button{type: 'submit', name: 'commit'}
                    Send
