= render "banner"
%h1.red Contact
%p
    Thank you for your interest in ACADEMIC STRATEDGEY. For general inquires, prices, and scheduling, please complete the following form or e-mail us directly at
    %a{href: 'mailto:academicstratedgey@gmail.com'}
        academicstratedgey@gmail.com
= form_tag controller: 'home', action: 'send_contact', method: 'post' do |builder|
    %fieldset#contact-information
        %legend
            Information
        .row
            .medium-3.columns
                %label.left.inline{for: 'full_name'}
                    Your Full Name*
            .medium-9.columns
                = text_field_tag :full_name
        .row
            .medium-3.columns
                %label.left.inline{for: 'email'}
                    Your Email*
            .medium-9.columns
                = text_field_tag :email
        .row
            .medium-3.columns
                %label.left.inline{for: 'grade'}
                    Your Current Grade level
            .medium-9.columns
                = text_field_tag :grade
        .row
            .medium-3.columns
                %label.left.inline{for: 'subject'}
                    Subject Line*
            .medium-9.columns
                = text_field_tag :subject
        .row
            .medium-3.columns
                %label.left.inline{for: 'message'}
                    Message*
            .medium-9.columns
                = text_area_tag :message
        .row
            .medium-9.medium-offset-3.columns
                %button{type: 'submit', name: 'commit'}
                    Send
