#index-page
    = render 'banner'
    %ul{'class' => 'slider', 'data-orbit'=> ''}
        %li
            =image_tag 'pages/About.jpg', alt: 'Graduation Caps in the Air'
            .orbit-caption
                Innovative Approach - Turn a stressful, complex undertaking into a thoughtful, individualized process.
                %strong
                    = link_to 'Read More', about_path()
        %li
            =image_tag 'pages/Services.jpg', alt: 'Arch Column Tunnel'
            .orbit-caption
                Comprehensive Offerings - Tailored services and expert guidance 
                give applicants an edge.
                %strong
                    = link_to 'Read More', services_path()
                
        %li
            =image_tag 'pages/counselingServices.jpg', alt: 'Accepted T-shirts'
            .orbit-caption
                College Counseling - Smoothly and successfully navigate the 
                admissions process. 
                %strong
                    = link_to 'Read More', services_path(:counseling)
        %li
            =image_tag 'pages/resumesServices.jpg', alt: 'Trojan Marching Band'
            .orbit-caption
                Resume & Experience Building - Make a strong first impression.
                %strong 
                    = link_to 'Read more', services_path(:resumes)
                
        %li
            =image_tag 'pages/tutoringServices.jpg', alt: 'Veritas Gate'
            .orbit-caption
                Tutoring - Build the confidence and skills needed to succeed in 
                high school and beyond. 
                %strong
                    = link_to 'Read More', services_path(:tutoring)
                
    
    %p
        %span.red-strong 
            Academic StratEDGEy takes a thoughtful, individualized approach to student development that advocates an early start and strategic decision-making throughout middle and high school.
        In order to give students and parents the edge they are looking for, Bree Koziara provides a range of integrated services that help students excel during these critical years. By specializing in early-stage college planning and providing guidance at critical junctures throughout the process, Academic StratEDGEy empowers students to pursue their passions and equips them with the tools and information they need to achieve their goals. 
        = link_to 'Learn more', about_path()

    %p
        %span.red-strong
            Bree Koziara offers an insider's perspective on the college admission and candidate development process. Academic StratEDGEy does away with the expensive, long-term contract model in favor of flexible hourly services tailored to meet individual needs. Bree's comprehensive services target the two areas colleges care most about -- academic performance and leadership & character development.
        Excelling in middle and high school and gaining admission to increasingly selective colleges is no easy task. In fact, it can be quite stressful on teens and parents. Increased selectivity and higher admission standards have made the process more complex and competitive than ever before. Unfortunately, students and parents face a serious lack of guidance and reliable information, which can leave even the most dedicated among them feeling stressed or overwhelmed. That's where Academic StratEDGEy can help. 
        = link_to 'Learn more', services_path()


    .bordered-panel.row.services-small
        .captioned-circle.medium-4.columns
            %a.circle{href: services_path(:counseling)}
                = image_tag 'icons/counseling.png'
            .caption
                %h2.red-strong
                    = link_to 'College Planning - Professional College Admission Counseling', services_path(:counseling)
        .captioned-circle.medium-4.columns
            %a.circle{href: services_path(:resumes)}
                = image_tag 'icons/resume.png'
            .caption
                %h2.red-strong
                    = link_to 'Leadership & Character Development - Resume & Experience Building', services_path(:resumes)
        .captioned-circle.medium-4.columns
            %a.circle{href: services_path(:tutoring)}
                = image_tag 'icons/tutoring.png'
            .caption
                %h2.red-strong
                    = link_to 'Improved Academic Performance - Tutoring & Writing Workshops', services_path(:tutoring)

    .row
        .panel-title#page-founder
            %h2.red-strong Bree Koziara, Ed.M. Harvard University
            %span
                %strong
                    Founder/President Academic StratEDGEy
        .large-12.columns
            .bree-photo
                =image_tag 'bree.jpg'

            %p.normal
                Bree brings a unique and innovative approach to college counseling and resume building. Bree is an independent college counselor and academic consultant based in Newport Beach, California. She holds a B.A. in Communication (Summa Cum Laude) from the University of Southern California and an Ed.M. in Higher Education from Harvard University.
            %p.normal
                Bree has effectively married her work in the private sector with her background in education and passion for youth development. At USC, she founded the Dean’s Student Association for Innovation at Annenberg and served as President of the International Association for Business Communicators. She also learned the ropes of marketing and sales at top PR firm, Rogers & Cowan and Fortune 500 Company, Altria. Upon graduation, she gained intensive research and project management experience at Gibson, Dunn & Crutcher, LLC before pursuing her long-time passion – education.
            %p.normal
                In addition to tutoring since 2003, Bree's studies at Harvard and work as a career advisor at MIT (Massachusetts Institute of Technology) provide her with the most current perspective on college admissions and career development. The admissions game has changed in the past two decades and Bree offers students and parents the competitive advantage they are looking for. 


