#index-page
    = render 'banner'
    %ul{'class' => 'slider', 'data-orbit'=> ''}
        %li
            =image_tag 'pages/About.jpg', alt: 'Graduation Caps in the Air'
            .orbit-caption
                Innovative Approach - Turn a stressful, complex undertaking into a thoughtful, individualized process.
                %strong
                    = link_to 'Read More', about_path()
        %li
            =image_tag 'pages/Services.jpg', alt: 'Arch Column Tunnel'
            .orbit-caption
                Comprehensive Offerings - Tailored services and expert guidance 
                give applicants an edge.
                %strong
                    = link_to 'Read More', services_path()
                
        %li
            =image_tag 'pages/counselingServices.jpg', alt: 'Accepted T-shirts'
            .orbit-caption
                College Counseling - Smoothly and successfully navigate the 
                admissions process. 
                %strong
                    = link_to 'Read More', services_path(:counseling)
        %li
            =image_tag 'pages/resumesServices.jpg', alt: 'Trojan Marching Band'
            .orbit-caption
                Skill-Building Workshops - From writing to study habits, develop the skills you need to succeed.
                %strong 
                    = link_to 'Read more', services_path(:resumes)
                
        %li
            =image_tag 'pages/tutoringServices.jpg', alt: 'Veritas Gate'
            .orbit-caption
                Tutoring - Build the confidence and skills needed to excel in middle school,
                high school, and beyond. 
                %strong
                    = link_to 'Read More', services_path(:tutoring)
                
    .bordered-panel.row.services-small
        .captioned-circle.medium-4.columns
            %a.circle{href: services_path(:counseling)}
                = image_tag 'icons/counseling.png'
            .caption
                %h2.red-strong
                    = link_to 'College Counseling Seminars', services_path(:counseling)
        .captioned-circle.medium-4.columns
            %a.circle{href: services_path(:resumes)}
                = image_tag 'icons/resume.png'
            .caption
                %h2.red-strong
                    = link_to 'Skill-Building Workshops', services_path(:resumes)
        .captioned-circle.medium-4.columns
            %a.circle{href: services_path(:tutoring)}
                = image_tag 'icons/tutoring.png'
            .caption
                %h2.red-strong
                    = link_to 'Subject-Based Tutoring', services_path(:tutoring)

    .row
        .panel-title#page-founder
            %h2.red-strong Philosophy & Approach
            %span
        .large-12.columns
                %strong
                    Excelling in middle and high school and gaining admission to increasingly selective colleges and universities is no easy task. In fact, it can be quite stressful on teens.
            %p.normal
                Both parents and high school students recognize the importance of going to college. Not only is a college degree more valuable than ever before, graduates reap a number of long-term benefits ranging from higher earnings to better health to higher levels of civic engagement. Yet the college admission game has changed significantly in the past twenty years becoming more complex and competitive than ever before. Between juggling coursework, participating in extracurricular activities, and preparing for high-stakes exams, teens today are overworked, over-scheduled, and overstressed. According to the American Psychological Association, 83% of teenagers report school as a somewhat or significant source of stress and 27% report extreme stress during the school year, which takes a toll on high school students’ health and development. 
            %p.normal
                %strong
                    The path to higher education also coincides with one of the most critical transitions in the life span -- adolescence. This makes navigating the path to college and career all the more difficult. 
            %p.normal
                Characterized by a tremendous pace in growth, this transition from childhood to adulthood takes place between 10 and 19 and affects individuals’ physical, cognitive, and socioemotional development. During middle and high school, students undergo puberty, develop a growing capacity for abstract thought, expand their intellectual interests, are increasingly influenced by their peer group, and struggle with sense of identity. Not unlike adolescent development, the college admission process requires students to define themselves and their goals, which can be quite difficult. 



    %p
        %span.red-strong 
            Academic StratEDGEy takes a thoughtful, individualized approach to student development that advocates an early start and strategic decision-making throughout middle and high school.
        In order to give students and parents the edge they are looking for, Bree Koziara provides a range of integrated services that help students excel during these critical years. By specializing in early-stage college planning and providing guidance at critical junctures throughout the process, Academic StratEDGEy empowers students to pursue their passions and equips them with the tools and information they need to achieve their goals. ABOUT -  
        = link_to 'Learn more', about_path()

    %p
        %span.red-strong
            Bree Koziara offers an insider's perspective on student development and the college admission process. Academic StratEDGEy does away with the expensive, long-term contract model in favor of flexible hourly services and workshops tailored to meet individual needs. Bree's comprehensive services target the two areas colleges care most about -- academic performance and leadership & character development.
        Excelling in middle and high school and gaining admission to increasingly selective colleges is no easy task. In fact, it can be quite stressful on teens and parents. Increased selectivity and higher admission standards have made the process more complex and competitive than ever before. Unfortunately, students and parents face a lack of guidance and reliable information, which can leave even the most dedicated among them feeling stressed or overwhelmed. That's where Academic StratEDGEy can help. SERVICES - 
        = link_to 'Learn more', services_path()


    .row
        .panel-title#page-founder
            %h2.red-strong Bree Koziara, Ed.M. Harvard University
            %span
                %strong
                    Founder/President Academic StratEDGEy
        .large-12.columns
            .bree-photo
                =image_tag 'bree.jpg'

            %p.normal
                Bree brings a unique and innovative approach to tutoring and college counseling. Bree is an academic consultant and independent college counselor based in Newport Beach, California. She holds a B.A. in Communication (Summa Cum Laude) from the University of Southern California and an Ed.M. in Higher Education from Harvard University.
            %p.normal
                Bree has effectively married her work in the private sector with her background in education and passion for youth development. At USC, she founded the Dean’s Student Association for Innovation at Annenberg and served as President of the International Association for Business Communicators. She also learned the ropes of marketing and sales at top PR firm, Rogers & Cowan and Fortune 500 Company, Altria. Upon graduation, she gained intensive research and project management experience at Gibson, Dunn & Crutcher, LLC before pursuing her long-time passion – education.
            %p.normal
                In addition to tutoring since 2002, Bree's studies at Harvard and work as a career advisor at MIT (Massachusetts Institute of Technology) provide her with the most current perspective on college admissions and candidate development. The admissions game has changed in the past two decades and Bree offers students and parents the competitive advantage they are looking for. 


