#index-page
    = render 'banner'
    %ul{'class' => 'slider', 'data-orbit'=> ''}
        %li
            =image_tag 'pages/About.jpg', alt: 'Graduation Caps in the Air'
            .orbit-caption
                Innovative Approach - Turn a stressful, complex undertaking into a thoughtful, individualized process.
                %strong
                    = link_to 'Read More', about_path()
        %li
            =image_tag 'pages/Services.jpg', alt: 'Arch Column Tunnel'
            .orbit-caption
                Comprehensive Offerings - Tailored services and expert guidance 
                give applicants an edge.
                %strong
                    = link_to 'Read More', services_path()
                
        %li
            =image_tag 'pages/counselingServices.jpg', alt: 'Accepted T-shirts'
            .orbit-caption
                College Counseling - Smoothly and successfully navigate the 
                admissions process. 
                %strong
                    = link_to 'Read More', services_path(:counseling)
        %li
            =image_tag 'pages/resumesServices.jpg', alt: 'Trojan Marching Band'
            .orbit-caption
                Skill-Building Workshops - From writing to study habits, develop the skills you need to succeed.
                %strong 
                    = link_to 'Read more', services_path(:resumes)
                
        %li
            =image_tag 'pages/tutoringServices.jpg', alt: 'Veritas Gate'
            .orbit-caption
                Tutoring - Build the confidence and skills needed to excel in middle school,
                high school, and beyond. 
                %strong
                    = link_to 'Read More', services_path(:tutoring)
                
    .bordered-panel.row.services-small
        .captioned-circle.medium-4.columns
            %a.circle{href: services_path(:counseling)}
                = image_tag 'icons/counseling.png'
            .caption
                %h2.red-strong
                    = link_to 'College Counseling Seminars', services_path(:counseling)
        .captioned-circle.medium-4.columns
            %a.circle{href: services_path(:resumes)}
                = image_tag 'icons/resume.png'
            .caption
                %h2.red-strong
                    = link_to 'Skill-Building Workshops', services_path(:resumes)
        .captioned-circle.medium-4.columns
            %a.circle{href: services_path(:tutoring)}
                = image_tag 'icons/tutoring.png'
            .caption
                %h2.red-strong
                    = link_to 'Subject-Based Tutoring', services_path(:tutoring)

    .row
        .panel-title#page-founder
            %h2.red-strong Philosophy & Approach
            %span
            %p.normal
                %strong
                    Excelling in middle and high school and gaining admission to increasingly selective colleges and universities is no easy task. In fact, it can be quite stressful on teens.
            %p.normal
                Both parents and high school students recognize the importance of going to college. Not only is a college degree more valuable than ever before, graduates reap a number of long-term benefits ranging from higher earnings to better health to higher levels of civic engagement. Yet the college admission game has changed significantly in the past twenty years becoming more complex and competitive than ever before. Between juggling coursework, participating in extracurricular activities, and preparing for high-stakes exams, teens today are overworked, over-scheduled, and overstressed. According to the American Psychological Association, 83% of teenagers report school as a somewhat or significant source of stress and 27% report extreme stress during the school year, which takes a toll on high school students’ health and development. 
            %p.normal
                %strong
                    The path to higher education also coincides with one of the most critical transitions in the life span -- adolescence. This makes navigating the path to college and career all the more difficult. 
            %p.normal
                Characterized by a tremendous pace in growth, this transition from childhood to adulthood takes place between 10 and 19 and affects individuals’ physical, cognitive, and socioemotional development. During middle and high school, students undergo puberty, develop a growing capacity for abstract thought, expand their intellectual interests, are increasingly influenced by their peer group, and struggle with sense of identity. Not unlike adolescent development, the college admission process requires students to define themselves and their goals, which can be quite difficult. 
            %p.normal
                %strong
                    In today’s competitive admission landscape the question remains: How can students stand out in a crowded applicant pool? 
            %p.normal
                In order to stand out, students must excel both inside and outside of the classroom. Students’ background and academic performance, coupled with their interests and activities will help them to develop a compelling personal narrative that helps garner the attention of college admission officers. All of this requires students to spend their time wisely and to engage in their academic journey. Increased engagement is linked to improved academic performance, higher SAT scores, better self-esteem, and a greater sense of belonging. In theory, students know they should get good grades, earn high test scores, and build a resume that demonstrates leadership and strong character. In practice, this task is much easier said than done. Studies show students become more disengaged from school as they progress from elementary to middle to high school. By high school, up to 60% of students are disengaged and feel they do not have what it takes to succeed. Even the most dedicated students and parents are left feeling overwhelmed by the prospect of applying to college. 
            %p.normal
                %strong
                    Unfortunately, the answer is often found in hindsight.
            %p.normal
                By the time high school students begin filling out college applications in the fall of their senior year, many begin to understand the nature of the admission game: the college admission process begins years before students physically fill out a single application. In fact, the information and essays students share with college admission officers are simply records of past actions. Whether informed or not, students make a series of decisions throughout middle and high school that impact their choices and chances of college admission. Looking back, seniors often spot the classes that hurt their GPA, which could have been avoided; the activities that took up so much time, but were not enjoyable or meaningful; the skills that could have improved their academic performance and increased their standardized test scores, had they been cultivated. By the time students fill out their applications, these missteps and missed opportunities are in the past and out of candidates' control. 
            %p.normal
                %strong
                    The expression 'hindsight is 20/20' reminds us that perspective and experience can bring clarity; so can professional guidance and support. 
            %p.normal
                While high school counselors are expected to be responsible for students’ academic, personal, social, and career development, they are overburdened and under-trained. The American Counseling Association recommends a ratio of 250 students to 1 counselor. The national average is 471:1. In California, it is 1,016 students to 1 counselor. Instead of learning the hard way and living with stress or regret, parents and students can find the help they need in Bree Koziara, Founder, President of Academic StratEDGEy. 
            %p.normal
                %strong
                    Academic StratEDGEy takes a thoughtful, individualized approach to student development that advocates an early start and strategic decision-making throughout middle and high school. 
            %p.normal
                In order to give students and parents the edge they are looking for, Bree Koziara provides a range of integrated services that help students excel during these critical years. By specializing in early-stage college planning and providing guidance at critical junctures throughout the process, Academic StratEDGEy empowers students to pursue their passions and equips them with the tools and information they need to achieve their goals. 


    .row
        .panel-title#page-founder
            %h2.red-strong Bree Koziara, Ed.M. Harvard University
            %span
                %strong
                    Founder/President Academic StratEDGEy
        .large-12.columns
            .bree-photo
                =image_tag 'bree.jpg'

            %p.normal
                Bree brings a unique and innovative approach to tutoring and college counseling. Bree is an academic consultant and independent college counselor based in Newport Beach, California. She holds a B.A. in Communication (Summa Cum Laude) from the University of Southern California and an Ed.M. in Higher Education from Harvard University.
            %p.normal
                Bree has effectively married her work in the private sector with her background in education and passion for youth development. At USC, she founded the Dean’s Student Association for Innovation at Annenberg and served as President of the International Association for Business Communicators. She also learned the ropes of marketing and sales at top PR firm, Rogers & Cowan and Fortune 500 Company, Altria. Upon graduation, she gained intensive research and project management experience at Gibson, Dunn & Crutcher, LLC before pursuing her long-time passion – education.
            %p.normal
                In addition to tutoring since 2002, Bree's studies at Harvard and work as a career advisor at MIT (Massachusetts Institute of Technology) provide her with the most current perspective on college admissions and candidate development. The admissions game has changed in the past two decades and Bree offers students and parents the competitive advantage they are looking for. 


