#services-page
    = render "banner"

    %h1.red SERVICES OFFERED
    %p
        Tailored services and expert guidance give applicants an edge.
    .row.even-columns
        .medium-4.columns
            .bordered-panel.even-column
                .captioned-circle
                    %a.circle{href: services_path(:counseling)}
                        = image_tag 'icons/counseling.png'
                    .caption
                        %h2.red-strong
                            = link_to 'College Admission Counseling', services_path(:counseling)

                %p
                    ACADEMIC STRATEDGEY's strategic and personalized approach to college planning helps students and parents successfully navigate the college admissions process.
                    = link_to 'Learn more', services_path(:counseling)
        .medium-4.columns
            .bordered-panel.even-column
                .captioned-circle
                    %a.circle{href: services_path(:resumes)}
                        = image_tag 'icons/resume.png'
                    .caption
                        %h2.red-strong
                            = link_to 'Resume & Experience Building', services_path(:resumes)
                %p
                    No matter what candidates are striving toward, ACADEMIC STRATEDGEY helps them create a high-impact resume that will capture the attention of schools or employers.
                    = link_to 'Learn more', services_path(:resumes)

        .medium-4.columns
            .bordered-panel.even-column
                .captioned-circle
                    %a.circle{href: services_path(:tutoring)}
                        = image_tag 'icons/tutoring.png'
                    .caption
                        %h2.red-strong
                            = link_to 'Tutoring', services_path(:tutoring)

                %p
                    ACADEMIC STRATEDGEY provides high quality, results-oriented tutoring and skill-building workshops for middle and high school students.
                    = link_to 'Learn more', services_path(:tutoring)
