#services-page
    = render "banner"

    %h1.red SERVICES OFFERED
    %p
        Tailored services and expert guidance give applicants an edge.
    .row.even-columns
        .medium-4.columns
            .bordered-panel.even-column
                .captioned-circle
                    %a.circle{href: services_path(:counseling)}
                        = image_tag 'icons/counseling.png'
                    .caption
                        %h2.red-strong
                            = link_to 'College Counseling Workshops', services_path(:counseling)

                %p
                    Academic StratEDGEy's strategic and innovative approach to college planning helps students and parents successfully navigate the college admission process.
                    = link_to 'Learn more', services_path(:counseling)
        .medium-4.columns
            .bordered-panel.even-column
                .captioned-circle
                    %a.circle{href: services_path(:resumes)}
                        = image_tag 'icons/resume.png'
                    .caption
                        %h2.red-strong
                            = link_to 'Skill-Building Workshops', services_path(:resumes)
                %p
                    Academic StratEDGEy's skill-building workshops empower students to develop the academic and life skills they'll need to excel in middle school, high school, and beyond. 
                    = link_to 'Learn more', services_path(:resumes)

        .medium-4.columns
            .bordered-panel.even-column
                .captioned-circle
                    %a.circle{href: services_path(:tutoring)}
                        = image_tag 'icons/tutoring.png'
                    .caption
                        %h2.red-strong
                            = link_to 'Subject-Based Tutoring', services_path(:tutoring)

                %p
                    Academic StratEDGEy provides high quality, results-oriented tutoring and skill-building workshops for middle and high school students.
                    = link_to 'Learn more', services_path(:tutoring)
