!!!
%html
  %head
    %title STRATEDGEY: The edge in college planning and student development

    %link{href: image_path("favicon.png"), rel: "shortcut icon" }
    %link{href: image_path("favicon.png"), rel: "icon", type: "image/png"}

    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "vendor/modernizr"

    = csrf_meta_tags
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
  %body
    = javascript_include_tag "application", "data-turbolinks-track" => true
    #nav-outer
      %nav.top-bar
        %section.top-bar-section
          %ul.right

            %li{'class' => ('active' if @current_page == :about)}
              = link_to 'About', about_path
            %li{'class' => ('active' if @current_page == :services)}
              = link_to 'Services', services_path
            %li{'class' => ('active' if @current_page == :resources)}
              = link_to 'Resources', resources_path
            %li{'class' => ('active' if @current_page == :contact)}
              = link_to 'Contact', contact_path

    #outer
      %a{href: root_path}
        #logo
      .logo-tagline.hide-for-small-only
        The edge in college planning and student development
      #content
        = yield
      #footer
        %p.left
          ACADEMIC STRATEDGEY 2013. All rights reserveed
        %p.right
          Contact 
          %a{href: 'mailto:info@academicstratedgey.com'}
            info@academicstratedgey.com
