!!!
%html
  %head
    %title Academic StratEDGEy: The edge in student development

    %link{href: image_path("favicon.png"), rel: "shortcut icon" }
    %link{href: image_path("favicon.png"), rel: "icon", type: "image/png"}

    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "vendor/modernizr"

    = csrf_meta_tags
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
  %body
    = javascript_include_tag "application", "data-turbolinks-track" => true
    #nav-outer
      %nav.top-bar{'data-topbar' => ''}
        %ul.title-area
          %li.name
            %a{href: '#'}
              
          %li.toggle-topbar.menu-icon
            %a{href: '#'}
              %span
                Menu
        %section.top-bar-section
          %ul.right
            %li{'class' => ('active' if @current_page == :index)}
              = link_to 'Home', root_path
            %li{'class' => ('active' if @current_page == :about)}
              = link_to 'About', about_path
            %li{'class' => ('active' if @current_page == :services)}
              = link_to 'Services', services_path
            %li{'class' => ('active' if @current_page == :resources)}
              = link_to 'Resources', resources_path
            %li{'class' => ('active' if @current_page == :contact)}
              = link_to 'Contact', contact_path

    #outer
      #content
        = yield
    #footer-outer
      #footer
        %p.left
          Academic StratEDGEy 2013. All rights reserved
        %p.right
          = link_to 'Contact for details and availability', contact_path
         
          