!!!
%html
  %head
    %title Stratedgy: The edge in college planning and student development
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "vendor/modernizr"

    = csrf_meta_tags
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
  %body
    = javascript_include_tag "application", "data-turbolinks-track" => true
    #nav-outer
      %nav.top-bar
        %section.top-bar-section
          %ul.left
            %li
              = link_to 'About', about_path
            %li
              = link_to 'Services', services_path
            %li
              = link_to 'Resources', resources_path
            %li
              = link_to 'Contact', contact_path

    #outer
      #logo
        %h1 Academic StratEDgy
        %p.tagline
          The edge in college planning and student development
      #content
        = yield
      #footer
        %p.left
          ACADEMIC STRATEDGEY 2013. All rights reserveed
        %p.right
          Contact info@academicstratedgey.com
